.bridge {
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    width: 640px;
}
#img1 {
    float: right;
    width: 640px;
}
#img2 {
    width: 400px;
}
.bridge td, th{
    padding-right: 20px;
}

.inputStrengthTable td, th {
    border: 1px solid grey;
    padding-right: 20px;
}