@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
<div>
    <h1 class="display-4">Портал для расчета мостовых конструкций</h1>
</div>
<div>
    <div class="bridge">
        <p>
            Добро пожаловать на портал, созданный для расчета конструкций мостов в соответствии с действующими нормативными документами.
            На данный момент основным документом по которому выполняются расчета является СП 35.13330.2011 Актуализированная редакция.
        </p>
        <p>
            В случае обнаружения багов просим связаться с разработчиками.
        </p>
    </div>
    <div class="bridge">
        <img id="img1" src=~/img/home/Bridge.png />
    </div>
</div>
